html {
    background-color: #f06e8f;
}
.title{
    display: flex;
    justify-content: center;
}
.title h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    
}
.main{
    height: 40vh;
    width: 80%;
    background-color: #fff;
    border-radius: 50px;
}
.botoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 3%;
    gap:5px;
    
}
.botoes button{
    cursor: pointer;
}
.relogio{
    font-size: 4.5rem;
    margin-left: 5%;
}

@media (max-width: 400px){
    .title h1 {
        font-size: 2rem;
    }
    .botoes {
        margin: 8%;
    }
}
@media (width: 1024px){
    .main{
        height: 45vh;
    }
}